<div class="my-4">
  <div class="col-lg-10 offset-lg-1">
    <h1 class="display-4">Lista de tipos de empleados</h1>
    <hr />
    <div class="table-responsive mt-4">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>ID del tipo de empleado</th>
            <th>TipoEmpleado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="tipoEmpleados.length === 0">
            <td colspan="3" class="text-center">
              <h6 class="text-info">
                No has registrado ningún tipo de empleado. Puedes registrar uno
                <a [routerLink]="['/tipos_empleado/new']">aquí.</a>
              </h6>
            </td>
          </tr>
          <tr *ngFor="let tipoEmpleado of tipoEmpleados">
            <td>{{ tipoEmpleado.id }}</td>
            <td>{{ tipoEmpleado.descripcion }}</td>
            <td>
              <button
                class="btn btn-sm btn-danger me-2"
                (click)="delete(tipoEmpleado)"
              >
                Eliminar
              </button>
              <button
                class="btn btn-sm btn-warning"
                [routerLink]="['/tipos_empleado/update', tipoEmpleado.id]"
              >
                Editar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
