<div class="row my-4 text-lg-center">
  <h1 class="display-4">{{ title }}</h1>
  <hr />
  <div class="col-sm-12 col-lg-4">
    <form>
      <div class="form-group my-3">
        <label for="salario actual">Fecha de la entrega</label>
        <input
          type="date"
          name="salarioActual"
          id="salarioActual"
          class="form-control"
          [(ngModel)]="fecha"
        />
      </div>
      <div class="form-group my-3">
        <label for="empleado">Empleado encargado</label>
        <select
          name="empleado"
          id="empleado"
          class="form-control"
          [(ngModel)]="pedido.empleado"
        >
          <option selected>Selecciona un empleado...</option>
          <option [ngValue]="empleado" *ngFor="let empleado of empleados">
            {{ empleado.nombres }} {{ empleado.apellidos }}
          </option>
        </select>
      </div>
      <div class="form-group my-3">
        <label for="cliente">Cliente</label>
        <select
          name="cliente"
          id="cliente"
          class="form-control"
          [(ngModel)]="pedido.cliente"
        >
          <option selected>Selecciona una opción...</option>
          <option *ngFor="let persona of personas" [ngValue]="persona.persona">
            {{ persona.nombres }} {{ persona.apellidos }}
          </option>
          <option *ngFor="let empresa of empresas" [ngValue]="empresa.persona">
            {{ empresa.nombre }}
          </option>
          <option
            *ngFor="let empleado of empleados"
            [ngValue]="empleado.persona"
          >
            {{ empleado.nombres }} {{ empleado.apellidos }}
          </option>
        </select>
      </div>
      <button class="btn btn-primary" (click)="create()">Guardar</button>
    </form>
  </div>
  <div class="col-sm-12 col-lg-8">
    <h4 class="text-secondary">Pasteles del pedido</h4>
    <table class="table table-light table-hover">
      <tbody>
        <tr *ngFor="let pastel of pasteles">
          <td>
            {{ pastel.nombre }}<br /><small class="text-muted"
              >Nombre del pastel</small
            >
          </td>
          <td>
            {{ pastel.tipo?.descripcion }}<br /><small class="text-muted"
              >Tipo del pastel</small
            >
          </td>
          <td>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="borrarPastel(pastel)"
            >
              Eliminar
            </button>
          </td>
        </tr>
        <tr>
          <td (click)="showPastelDialog()" colspan="3">
            <span
              class="text-warning"
              *ngIf="pasteles.length === 0; else elsePasteles"
            >
              Este pedido no tiene pasteles. Agrega uno aquí.
            </span>
            <ng-template #elsePasteles>
              <a (click)="showPastelDialog()">Agregar otro pastel.</a>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<p-dialog
  [(visible)]="pastelDialog"
  header="Crear pastel"
  [style]="{ width: '800px' }"
  styleClass="p-fluid"
  [modal]="true"
>
  <ng-template pTemplate="content">
    <form>
      <div class="row">
        <div class="form-group my-3">
          <label for="nombre">Nombre del pastel</label>
          <input
            type="text"
            name="nombre"
            id="nombre"
            [(ngModel)]="pastel.nombre"
            class="form-control"
          />
        </div>
        <div class="form-group my-3">
          <label for="pesoMin">Peso mínimo</label>
          <input
            type="number"
            name="pesoMin"
            id="pesoMin"
            [(ngModel)]="pastel.pesoMin"
            class="form-control"
          />
        </div>
        <div class="form-group my-3">
          <label for="adicional">Adicional</label>
          <input
            type="text"
            name="adicional"
            id="adicional"
            [(ngModel)]="pastel.adicional"
            class="form-control"
          />
        </div>
        <div class="form-group my-3">
          <label for="tipoEmpleado">Tipo de pastel</label>
          <select
            name="tipoPastel"
            id="tipoPastel"
            class="form-control"
            [(ngModel)]="pastel.tipo"
          >
            <option selected>Selecciona un tipo de pastel</option>
            <option
              *ngFor="let tipoPastel of tiposPastel"
              [ngValue]="tipoPastel"
            >
              {{ tipoPastel.descripcion }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="row">
      <div class="col-12">
        <button class="btn btn-primary" (click)="addPastel(pastel)">
          Guardar pastel
        </button>
      </div>
    </div>
  </ng-template>
</p-dialog>
