<div class="my-4">
    <h1 class="display-4">Lista de ingredientes</h1>
    <hr>
    <div class="table-responsive mt-4">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>ID de Ingrediente</th>
                    <th>Nombre</th>
                    <th>Unidades</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ingrediente of ingredientes">
                    <td>{{ ingrediente.id }}</td>
                    <td>{{ ingrediente.nombre}}</td>
                    <td>{{ ingrediente.uMed}}</td>
                    
                    <td>
                        <button class="btn btn-sm btn-danger me-2" (click)="delete(ingrediente)">Eliminar</button>
                        <button class="btn btn-sm btn-warning" [routerLink]="['/ingredientes/update', ingrediente.id]">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


