<div class="my-4">
  <div class="col-lg-10 offset-lg-1">
    <h1 class="display-4">{{ title }}</h1>
    <hr />
    <div class="table-responsive mt-4">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>ID de Empleado</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Salario actual</th>
            <th>Tipo de empleado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="empleados.length === 0">
            <td colspan="6" class="text-center">
              <h6 class="text-info">
                No has registrado ningún empleado. Puedes registrar uno
                <a [routerLink]="['/empleados/new']">aquí.</a>
              </h6>
            </td>
          </tr>
          <tr *ngFor="let empleado of empleados">
            <td>{{ empleado.id }}</td>
            <td>{{ empleado.nombres }}</td>
            <td>{{ empleado.apellidos }}</td>
            <td>${{ empleado.salarioActual | number }}</td>
            <td>{{ empleado.tipoEmpleado!.descripcion }}</td>
            <td>
              <button
                class="btn btn-sm btn-danger me-2"
                (click)="delete(empleado)"
              >
                Eliminar
              </button>
              <button
                class="btn btn-sm btn-warning"
                [routerLink]="['/empleados/update', empleado.id]"
              >
                Editar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
