<div class="row pt-5">
    <div class="col-12">
        <form>
            <div class="form-group my-3 ">
                <label for="id">id del empleado</label>
                <input type="num" name="id" id="id" class="form-control" placeholder="id..." [(ngModel)]="tipoEmpleado.id">
            </div>
            <div class="form-group my-3 ">
                <label for="descripcion">Descripcion del empleado</label>
                <input type="text" name="descripcion" id="descripcion" class="form-control" placeholder="Descripción..." [(ngModel)]="tipoEmpleado.descripcion">
            </div>
           <button class="btn btn-primary" (click)="create()">Guardar</button>
        </form>
    </div>
</div>